@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap");
.nav__unordered {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  .nav__unordered {
    display: block;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .nav__unordered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 901px) {
  .nav__unordered {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.nav__unordered__list {
  margin: 20px;
}
.nav__unordered__list__item {
  text-decoration: none;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
}
.footer__link {
  text-decoration: none;
  color: white;
}
.footer__icons {
  margin: 10px;
  padding: 10px;
}
.footer a img {
  height: 1rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

.text {
  color: #e6dcdc;
  display: block;
  text-transform: uppercase;
}
.text__mainHeading {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 15px;
}
@media screen and (max-width: 600px) {
  .text__mainHeading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .text__mainHeading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3;
  }
}
.text__secondaryHeading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 15px;
}
@media screen and (max-width: 600px) {
  .text__secondaryHeading {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .text__secondaryHeading {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3;
  }
}

.myinfo-text__header {
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .myinfo-text__header {
    font-size: 22px;
    font-weight: 500;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .myinfo-text__header {
    font-size: 25px;
    font-weight: 500;
  }
}
.myinfo-text__secondary-header {
  font-size: 22px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .myinfo-text__secondary-header {
    font-size: 18px;
    font-weight: 500;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .myinfo-text__secondary-header {
    font-size: 20px;
    font-weight: 500;
  }
}
.myinfo-text__para {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .myinfo-text__para {
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .myinfo-text__para {
    font-size: 15px;
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  .header__main {
    font-size: 3rem;
    font-weight: 400;
    text-align: start;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .header__para {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: start;
    padding: 0;
    margin: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  height: 100vh;
  position: relative;
}
.container__main-div {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width: 600px) {
  .container__main-div {
    margin-top: 50px;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .container__main-div {
    margin-top: 50px;
  }
}

.text {
  animation: moveInTop 1.5s ease-out;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  display: inline-block;
  margin: 2rem;
  transition: all 0.2s;
  border-radius: 2rem;
  background-color: rgba(90, 183, 211, 0.493);
  color: #1c1e1f;
  text-decoration: none;
  position: relative;
  /* line-height: 10rem; */
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(245, 241, 241, 0.65);
}

.btn:active {
  transform: translateY(-1px);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn-home {
  animation: moveInLeft 2s ease-out 0.5s;
  animation-fill-mode: backwards;
  padding: 0.8rem 2rem;
}

.btn-contact {
  animation: moveInRight 2s ease-out 0.5s;
  animation-fill-mode: backwards;
  padding: 0.8rem 2.6rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
#contact-form {
  height: 15rem;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  border: 2px black solid;
  padding: 2rem;
}
@media screen and (max-width: 480px) {
  #contact-form {
    height: 50vh;
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.formDiv {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
  background-color: cadetblue;
  border: none;
  border-radius: 10px;
  height: 2rem;
  /* width: 20rem; */
  margin-top: 1rem;
  transition: ease-out 0.3s;
  outline: none;
}

#clearBtn {
  width: 10rem;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 25%;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
}

/* Modal Content/Box */
.modal-content {
  display: block;
  background-color: #243949;
  border-radius: 30px;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
  text-align: center;
  padding-left: 2rem;
  margin-left: 2rem;
  color: #e6dcdc;
}

.modal-content button {
  /* padding: 1rem; */
  margin: 1rem;
  height: 2rem;
  width: 10rem;
  border-radius: 10px;
  background-color: rgba(90, 183, 211, 0.493);
  color: white;
  border: none;
}

.about-info {
  display: flex;
}
@media screen and (max-width: 600px) {
  .about-info {
    display: block;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .about-info {
    display: block;
  }
}
.about-info__my-pic {
  padding: 2rem;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .about-info__my-pic {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .about-info__my-pic {
    width: 100%;
  }
}
.about-info__my-pic--img {
  width: 80%;
}
.about-info__my-info {
  padding: 2rem;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .about-info__my-info {
    width: 80%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .about-info__my-info {
    width: 80%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.text {
  color: #e6dcdc;
  display: block;
  text-transform: uppercase;
}

.text__mainHeading {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 15px;
}

@media screen and (max-width: 600px) {
  .text__mainHeading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .text__mainHeading {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3;
  }
}
.text__secondaryHeading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 15px;
}

@media screen and (max-width: 600px) {
  .text__secondaryHeading {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .text__secondaryHeading {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 3;
  }
}
.myinfo-text__header {
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .myinfo-text__header {
    font-size: 22px;
    font-weight: 500;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .myinfo-text__header {
    font-size: 25px;
    font-weight: 500;
  }
}
.myinfo-text__secondary-header {
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .myinfo-text__secondary-header {
    font-size: 18px;
    font-weight: 500;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .myinfo-text__secondary-header {
    font-size: 20px;
    font-weight: 500;
  }
}
.myinfo-text__para {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .myinfo-text__para {
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .myinfo-text__para {
    font-size: 15px;
    font-weight: 500;
  }
}
@media screen and (max-width: 600px) {
  .header__main {
    font-size: 3rem;
    font-weight: 400;
    text-align: start;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .header__para {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: start;
    padding: 0;
    margin: 0;
  }
}
.projdiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .projdiv {
    display: block;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .projdiv {
    grid-template-columns: 1fr 1fr;
  }
}

.projPic {
  border-radius: 20px;
  height: 15rem;
  width: 15rem;
}
@media screen and (max-width: 600px) {
  .projPic {
    width: 30rem;
    height: 30rem;
  }
}

.mainContainer {
  perspective: 1000px;
}

.card {
  border-radius: 20px;
  border-style: none;
  width: 15rem;
  height: 15rem;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: relative;
}
@media screen and (max-width: 600px) {
  .card {
    width: 25rem;
    height: 25rem;
  }
}
.card__img {
  border-radius: 20px;
  height: 15rem;
  width: 15rem;
}
@media screen and (max-width: 600px) {
  .card__img {
    width: 25rem;
    height: 25rem;
  }
}
.card:hover {
  transform: rotateY(180deg);
}
@media screen and (max-width: 600px) {
  .card {
    width: 30rem;
    height: 30rem;
  }
}
.card__flip {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card__flip--front {
  z-index: 2;
}
.card__flip--back {
  background: #8a9aaf;
  z-index: 1;
  transform: rotateY(180deg);
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__flip--link {
  text-decoration: none;
  color: #e6dcdc;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  color: white;
}

header {
  text-align: center;
  /* margin: 20px; */
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}
