.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10rem;
    &__link{
        text-decoration: none;
        color: white;
    }
    &__icons{
        // display: flex;
        margin: 10px;
        padding: 10px;
    }
}