@use 'media';
@use 'pallette';

*{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    height: 100vh;
    position: relative;

    &__main-div{
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

        @include media.phone{
            margin-top: 50px;
        }
        @include media.tablet{
            margin-top: 50px;
        }

    }
}


.text{
    animation: moveInTop 1.5s ease-out; 
}


.btn:link,.btn:visited{
    text-transform: uppercase;
    display: inline-block;
    margin: 2rem;
    transition: all 0.2s;
    border-radius: 2rem;
    background-color: pallette.$btnprimary;
    color: pallette.$textsecondary;
    text-decoration: none;
    position: relative;
    /* line-height: 10rem; */  
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(245, 241, 241, 0.65);
}
.btn:active{
    transform: translateY(-1px);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}
.btn-home{
    animation: moveInLeft 2s ease-out 0.5s;
    animation-fill-mode: backwards;
    padding: 0.8rem 2rem;
}
.btn-contact{
    animation: moveInRight 2s ease-out .5s;
    animation-fill-mode: backwards;
    padding:0.8rem 2.6rem;
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{    
        transform: translateX(10px);

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{    
        transform: translateX(-10px);

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
   
    100%{
        opacity: 1;
        transform: translate(0);
    }
}