$primarycolorgradient: #243949;
$secondarycolorgradient: #517fa4;

$textprimary:rgb(230, 220, 220);
$textsecondary: rgb(28, 30, 31);

$btnprimary : rgba(90, 183, 211, 0.493);
$btnhover: #243949;

$cardflip-color:rgb(138, 154, 175);
