@use "media";
@use "typography";
@use "pallette";

.projdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 2rem;
    align-items: center;
    justify-content: center;

    @include media.phone {
        display: block;
    }

    @include media.tablet {
        grid-template-columns: 1fr 1fr;
    }
}
.projPic {
    border-radius: 20px;
    height: 15rem;
    width: 15rem;
    @include media.phone {
        width: 30rem;
        height: 30rem;
    }
}
.mainContainer {
    perspective: 1000px;
}

.card {
    border-radius: 20px;
    border-style: none;
    // box-shadow: 0 5px 0px rgba(199, 241, 241, 0.52);
    width: 15rem;
    height: 15rem;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    position: relative;

    @include media.phone {
        width: 25rem;
        height: 25rem;
        // padding-left: 1rem;
        // margin-left: 1rem;
    }
    &__img {
        border-radius: 20px;
        height: 15rem;
        width: 15rem;
        @include media.phone {
            width: 25rem;
            height: 25rem;
        }
    }
    &:hover {
        transform: rotateY(180deg);
    }

    @include media.phone {
        width: 30rem;
        height: 30rem;
    }

    &__flip {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        &--front {
            z-index: 2;
        }

        &--back {
            background: pallette.$cardflip-color;
            z-index: 1;
            transform: rotateY(180deg);
            font-size: 2em;
            font-family: typography.$primaryfont;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--link {
            text-decoration: none;
            color: pallette.$textprimary;
        }
    }
}
