.infoDiv{
     /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; */
    display: flex;
    /* flex-wrap: wrap; */
}

.myPic{
    padding: 2rem;
    width: 50%;
}
.myInfo{
     padding: 2rem;
     width: 50%;
}
img{
    width: 80%;
    /* height: 400px; */
}