@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
main{ 
    text-align: center;
    height: 100vh;
    position: relative;
}
#mainDiv{
    /* color: black; */
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 15px;
}
h1,h3{
    color: rgb(146, 197, 206);
    display: block;
    text-transform: uppercase;
    animation: moveInTop 1.5s ease-out;
    
}
h3{
     font-size: 30px;
    font-weight: 500;
    letter-spacing: 15px;
}

.btn:link,.btn:visited{
    text-transform: uppercase;
    display: inline-block;
    margin: 2rem;
    transition: all 0.2s;
    border-radius: 2rem;
    background-color: rgba(241, 241, 241, 0.493);
    color:rgb(25, 5, 44);
    text-decoration: none;
    position: relative;
    /* line-height: 10rem; */  
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(245, 241, 241, 0.65);
}
.btn:active{
    transform: translateY(-1px);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}
.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}
.btn-home{
    animation: moveInLeft 2s ease-out 0.5s;
    animation-fill-mode: backwards;
    padding: 1.5rem;
}
.btn-contact{
    animation: moveInRight 2s ease-out .5s;
    animation-fill-mode: backwards;
    padding:1.5rem 2rem;
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{    
        transform: translateX(10px);

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{    
        transform: translateX(-10px);

    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInTop{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
   
    100%{
        opacity: 1;
        transform: translate(0);
    }
}